{% extends "layout.html" %}
{% block content %}


    <div class="row marketing ">
        <div class="col-lg-6">
          <h4>Categories</h4>
            {% if user != None %}
          <a class="btn btn-primary btn-block" href ="{{url_for('newCategory')}}" role="button" >New Category</a>
            {% endif %}
          <hr>
          <ul class="list-group">
            {% for c in categories %}
            <li class="list-group-item justify-content-between">
              <a href="{{url_for('showSportFromCategory', category_id = c.id)}}" class="card-link">{{c.name}}</a>
               {% if user != None %}
              <div class="badge-pill" style="display: inherit;">
                <a class="btn btn-outline-info" href ="{{url_for('newSportCategory', category_id = c.id) }}" >New Sport </a><br>
                  {% if user.id == c.user_id %}
                  <a class="btn btn-outline-warning" href ="{{url_for('editCategory', category_id = c.id) }}" >Edit </a><br>
                  <a class="btn btn-outline-danger" href ="{{url_for('deleteCategory', category_id = c.id) }}"> Delete </a><br>
                  {% endif %}
              </div>
                {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-lg-6 ">
            <ul class="list-group">
                <hr>
                    <li class="list-group-item list-group-item-warning">Latest Items {% if rows > 0 %} ({{rows}}) <a  class="btn btn-outline-default" href="{{ url_for('home') }}"> - All</a></li>
                    {%else%}
                {% if rows == 0 %}

                    <li class="list-group-item list-group-item-danger">No result found</li>
                {% endif %}
                    {% endif %}

                {% for sport in sports %}
                    <li class="list-group-item list-group-item-info">
                        <a href="{{url_for('detailSport', sport_id = sport.id)}}" class="list-group-item list-group-item-action">{{sport.title}} ({{sport.category.name}})</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}