<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Sport Catalog</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css.map') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css.map') }}">

  </head>
  <body>
  <div class="container">
      <div class="header clearfix">
        <hr>
        <nav>
          <ul class="nav nav-pills float-right">

            <li class="nav-item">
              <a  class="nav-link" href="{{ url_for('home') }}">home</a>
            </li>
            <li class="nav-item">
               <a  class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            {% if user == None  %}

            <li class="nav-item">
              <a  class="nav-link btn btn-outline-success" href="{{ url_for('login') }}">Login</a>
            </li>
            {% endif %}

            {% if user != None %}
            <li class="nav-item">
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Logout</button>
            </li>
            {% endif %}
          </ul>
        </nav>
        <h3 class="text-muted">Sport Category </h3>
      </div>
      <hr>
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=flash>
            {% for category, message in messages %}

                {% if category == 'success' %}
                    <div class="alert alert-success" role="alert">
                      <strong>Success: </strong>{{ message }}
                    </div>
                {% endif %}

                {% if category == 'info' %}
                    <div class="alert alert-info" role="alert">
                      <strong>Info: </strong>{{ message }}
                    </div>
                {% endif %}

                {% if category == 'error' %}
                    <div class="alert alert-danger" role="alert">
                      <strong>Alert: </strong>{{ message }}
                    </div>
                {% endif %}

                {% if category == 'warning' %}
                    <div class="alert alert-warning" role="alert">
                      <strong>Warning: </strong>{{ message }}
                    </div>
                {% endif %}

            {% endfor %}
            </ul>
          {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
  </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p> Are you sure you want to logout? </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No</button>
        <a  class="nav-link btn btn-outline-danger" href="{{ url_for('logout') }}">Yes</a>
      </div>

    </div>
    </div>
    </div>

    <script>
    $('#exampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget)
    var recipient = button.data('whatever')
    var modal = $(this)
    modal.find('.modal-title').text('Confirm delete')
    modal.find('.modal-body input').val(recipient)
    })
    </script>

  </body>
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.slim.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"  ></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"  ></script>

    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

</html>