{% extends "layout.html" %}
  
{% block content %}

<div class="card">

      <div class="card-header">
        <h2 class="card-title">Category: {{category.name}}</h2>
      </div>

    <div class="card-block">
        <form action="{{url_for('newSportCategory', category_id=category.id)}}" method = 'POST'>
            <div class="form-group row">
              <label for="title" class="col-2 col-form-label">Title:</label>
              <div class="col-10">
                <input class="form-control" type="text" placeholder="Title" id="title" name='title' size='30'>
              </div>
            </div>


            <div class="form-group row">
              <label for="description" class="col-2 col-form-label">Description:</label>
              <div class="col-10">
                  <textarea class="form-control" rows="3" placeholder="Description" id="description" name='description'></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label for="history" class="col-2 col-form-label">History:</label>
              <div class="col-10">
                  <textarea class="form-control" rows="3" placeholder="History" id="history" name='history' ></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label for="origin" class="col-2 col-form-label">Origin:</label>
              <div class="col-10">
                <input class="form-control" type="text" placeholder="Origin" id="origin" name='origin' size='30'>
              </div>
            </div>
            <div class="card-footer">
                <input class="btn btn-primary" type="submit" value="New Sport">
                <a class="btn btn-warning" href = "{{ url_for('home')}}"> Cancel </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}